@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
    --primary-color: rgba(39, 20, 36, 0.87);
}

div.row{
    margin: 0;
}
a{
    text-decoration: none !important;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    color: var(--primary-color) !important;
}