.footer-bar{
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(4, 2, 7, 0.74);
    color: rgb(201, 193, 193);
}
.footer-bar a{
    padding: 10px;
    color: rgb(201, 193, 193);
}

/* a:link{
    color: white !important;
} */
/* .links a{
    padding: 10px;
    color: white;
} */
.creat{
    padding-top: 10px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 15px;
}
